.layout {
    position: relative;
    overflow: hidden;
}

@media (max-width: 992px) {
    .sidebar_container {
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 9;
        transition: all .5s;

    }
    .active {
        right: 0;
    }
 }
 
.filter {
    position: absolute;
    top: 300px;
    left: -18px;
    width: 200px;
    text-align: center;
    z-index: 999999;
    background-color: #E4E4E4;;
    transform: rotate(270deg);
    font-size: 12px;
    letter-spacing: 1.8px;
    cursor: pointer;
    transform-origin: top left;
    border-radius:5px 5px 0 0;
}
.filter_closed {
    right: -185px;
    left: unset;
    top: 356.09px
}