.container {
    margin-bottom: 10px;
}
.ticket_list_item {
    background-color: white;
    border-radius: 8px;
}
.edge {
    width: 6px;
    background-color: #25BBF3;
    border-radius: 8px 0 0 8px;
}
.icon {
    background-image: url("/images/envelope.png");
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F39C12;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.name {
    font-weight: bold;
    color: #33475A;
}
.type {
    font-size: 14px;
    font-weight: 400;
    color: #33475A;
}
.code {
    color: #25BBF3;
    font-size: 10px;
}
.desc {
    font-size: 14px;
    color: #627688;
}

.priority {
    color: #2ECC71;
    font-size: 14px;
}

.time {
    color: #202020;
    font-size: 14px;
}