.ticket_list {
    background-color: #F5F6F6;
    padding: 14px 21px;
    width: 100%;
    height:calc( calc(100vh) - 56.09px);
    overflow-y: auto;
}
.date {
    color: #627688;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 22px;
}