.sidebar {
    background-color: white;
    height:calc( calc(100vh) - 56.09px);
    overflow-y: auto;
    width: 258px;
    position: relative;
}
.new_ticket{
    margin: 16px  24px 24px 0;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    max-width: 190px;
}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
}
.badge{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding:5px 10px;
}
.sidebar_item {
    font-size: 14px;
    padding-right: 10px;
    margin-bottom: 11px;
}
.item_active {
    font-weight: 700;
}
.circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.circle_aqua {
    background-color: #25BBF3;
    border: 1px solid #25BBF3;
}
.circle_orange {
    background-color: #F39C12;
    border: 1px solid #F39C12;
}
.circle_green {
    background-color: #2ECC71;
    border: 1px solid #2ECC71;
}
.circle_grey {
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
}
.circle_red {
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
}
.sidebar_item:not(.item_active) .circle {
    background-color: transparent;
}
.sidebar_item:not(.item_active) .item_count {
    color: #627688;
}
.close {
    background-color: #E1E1E1;
    line-height: 100%;
    padding: 10px;
    color: #33475A;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 11px;
}
