body {
    font-size: .87em;
    font-family: 'Poppins', sans-serif;
}

.avatar {
    background-color: #FFCB78;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    padding: 8px;
    font-size: .8em;
    border: 2px solid white;
    width: 34px;
    height: 34px;
    color: white;
}

.custom-sidebar {
    width: 258px;
    max-width: 80vh;
}

.bg-aqua {
    background-color: #25BBF3;
}